.container__menu-title{
  color: aliceblue;

}

.container__menu-title > h1{
  margin-top: 15px;
  font-size: 170px;
  display:flex;

}
h1{
  justify-content: center;
  font-family:'Courier New', Courier, monospace;

}

.container__menu-title > hr{
  margin-top: 20px;
  margin-bottom: 15px;


}
